:root{
    --bg-color: #2E0918;
    --lighter-bg-color: #4F1029;
    --pink: #F6AEAC;
    --pink2: #E3008C;
    --protest-strike: 'Protest Strike', sans-serif;
    --qwigley: 'Qwigley', cursive;
    --poppins: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}

a {
    cursor: pointer;
}

/*====================Main====================*/

main {
    /* background-color: white; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: aquamarine; */
    border-radius: 100;
    margin: 0 6em 0 6em;
    height: 100%;
    max-height: 30em;
}

/* .hero-photo {
    background-color: red;
} */

.hero-photo img {
    height: 100%;
}

.hero-text {
    /* background-color: blue; */
    color: white;
}

.hero-text h1 {
    font-family: var(--qwigley);
}

.hero-text p {
    font-family: var(--protest-strike);
}

.hero-buttons {
    display: flex;
    /* background-color: yellow; */
}

.hero-buttons a {
    color: white;
    text-decoration: none;
    background-color: var(--bg-color);
    border-color: white;
    font-family: var(--poppins);
}

.hero-buttons button {
    color: white;
    background-color: var(--pink2);
    border-color: white;
    font-family: var(--poppins);
}

/*====================FOOTER====================*/

footer {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 100%;
    width: 4em;
    /* background-color: green; */
}

footer ul li {
    list-style: none;
    margin-top: 0.5rem;
}

footer ul li a {
    color: var(--pink2);
}

footer ul li a i {
    font-size: 1.4rem;
}