:root{
    --bg-color: #2E0918;
    --lighter-bg-color: #4F1029;
    --pink: #F6AEAC;
    --pink2: #E3008C;
    --protest-strike: 'Protest Strike', sans-serif;
    --qwigley: 'Qwigley', cursive;
    --poppins: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}

a {
    cursor: pointer;
}



/*====================HERO====================*/

.hero {
    display: flex;
    /* background-color: aquamarine; */
}

.hero-photo {
    background-color: red;
}

.hero-text {
    width: 100px;
    background-color: blue;
}

.hero-buttons {
    width: 100px;
    background-color: yellow;
}

/*====================FOOTER====================*/

footer {
    height: 100vh;
    width: 100px;
    background-color: green;
}

footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    color: var(--pink2);
}