:root{
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
}

body{
    margin: 0;
    background-image: url('my_images/pink-bg.jpg');
    background-attachment: fixed;
    background-size: contain;
}

header{
    background-color: rgb(249, 240, 255);
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* border-bottom: 2px solid #ff7d7d; */
    box-shadow: 5px 5px 10px 5px #ff7d7d54;
}

h2{
    margin: 15px 30px;
    display: inline-block;
    color: #ff7d7d;
    font-size: 33px;
}

.link-container{
    position: relative;
    float: right;
    top: 9px;
}

.link{
    text-decoration: none;
    padding: 20px;
    color: #ff7d7d;
    font-size: 24px;
    transition: 0.3s;
}

.link:hover{
    text-decoration: underline;
    background-color: #ff7d7d;
    color: white;
    font-size: 30px;
}

#hire-me{
    font-size: 20px;
    border: 0;
    margin-right: 20px;
    padding: 13px;
    border-radius: 20px;
    background-color: #ff7d7d;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    transition: 0.5s;
}

#hire-me:hover{
    background-color: #ff7d7d86;
    padding: 13px 50px;
    cursor: pointer;
}

article{
    background-color: rgb(249, 240, 255);
    background-attachment: fixed;
    background-size: contain;
    text-align: center;
    margin: 50px;
    margin-top: 100px;
    margin-left: 190px;
    margin-right: 190px;
    margin-bottom: 40px;
    height: 510px;
    box-shadow: 5px 5px 5px 5px #ff7d7d2a, -5px -5px 20px 20px #ff7d7d2a;
    border-radius: 30px;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

img{
    margin-top: 30px;
    border: 10px solid #ff7d7d;
    border-radius: 50px;
}

hr{
    width: 80%;
    margin: auto;
    border: none;
    height: 2px;
    background-color: #ff7d7d;
}

.main-content{
    margin: 0;
}

h1{
    font-size: 40px;
    font-weight: normal;
}

#intro{
    font-size: 20px;
    padding: 30px 50px;
}

#quote{
    font-size: 20px;
}

#article-about{
    height: 1000px;
}

.fun-section{
    text-align: left;
}